/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





.box {
width: 100%;
height: 17.7vh;

}
#greyBox {
background-color: rgb(223, 223, 223);
}
#smallBlueBox {
    background-color: rgb(76, 136, 247);
    width: 50px;
    height: 50px;
    margin: 25px;
    display: inline-block;
}
#whiteBox {
    background-color: white;
    height: 26.5vh;

}
#blueBox {
    background-color: rgb(76, 136, 247);
}
#greenBox {
    background-color: rgb(90, 223, 194);
}
#lightGreenBox {
    background-color: rgb(198, 236, 126);
}
#yellowBox {
    background-color: rgb(240, 227, 49);
}
#text {
    margin: 0 8%;
    margin-top: 8%;

    display: block;
}
